
/* Apply styles to the <html>, <body>, and #root elements */
html,
body,
#root
{
    position: fixed;        /* Keeps fixed to screen */
    top: 0;                 /* Positions element at the top of screen */
    left: 0;                /* Positions element at the left of screen */
    width: 100%;            /* Makes element take up the entire width of the viewport */
    height: 100%;           /* Makes element take up the entire height of the viewport */
    background: ivory;    /* Sets the background color of the body to ivory */
}

.r3f
{
    touch-action: none;
}
