
/* Apply styles to the <html>, <body>, and #root elements */
html,
body,
#root
{
    position: fixed;        /* Keeps fixed to screen */
    top: 0;                 /* Positions element at the top of screen */
    left: 0;                /* Positions element at the left of screen */
    width: 100%;            /* Makes element take up the entire width of the viewport */
    height: 100%;           /* Makes element take up the entire height of the viewport */
    background: ivory;    /* Sets the background color of the body to ivory */
}

.r3f
{
    touch-action: none; /* Allow user to drag computer on mobile devices*/
}

/* Allows website to fit better so that it is not squished*/
.htmlScreen iframe
{
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background: #000000;
}
